/* For screen size greater than 768px */
@media screen and (min-width: 768px) {
  /* Insights section */
  .insights-section {
    margin-top: 110px;
    position: relative;
  }

  .insights-section-article:nth-child(1) {
    float: left;
    width: 66%;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
  }

  .insights-section-article:nth-child(2),
  .insights-section-article:nth-child(3) {
    float: right;
    width: 33%;
    height: 49%;
  }

  /* Latest post section */
  .latest-post .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .latest-post .post-item {
    display: flex;
    flex-direction: column;
    float: none;
    margin-right: 1rem;
  }

  .latest-post .post-img {
    width: 100%;
    padding-top: 50%;
    height: 0;
  }

  /* Latest funding section */
  .latest-funding-header a {
    float: left;
    border-right: solid 1px #f94640;
    padding-right: 12px;
    margin-right: 12px;
    font-size: 16px;
  }

  .latest-funding-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .latest-funding-child {
    width: 30%;
  }

  /* Catagory section */
  .catagory-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catagory article {
    height: 75%;
  }
}

/* For screen size greater than 768px and less than 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Header section */
  .nav-dark {
    background: #131313;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: relative;
    color: #fff;
    justify-content: space-between;
  }

  .logo {
    width: 120px;
    float: left;
  }

  .default-header nav {
    height: 8vh;
  }

  .nav-white {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-white li {
    margin-right: 10px;
  }

  .nav-white ul:nth-child(1) {
    display: flex;
    flex-direction: row;
  }

  .company-infos {
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
  }

  .company-infos li {
    margin-right: 10px;
  }

  /* Insights section */
  .insights-section {
    height: 60vh;
  }

  .insights-section-article:nth-child(1) h2 {
    font-size: 30px;
    font-weight: bold;
  }

  .insights-section-article:nth-child(2) h2,
  .insights-section-article:nth-child(3) h2 {
    font-size: 20px;
    line-height: 1.1;
  }

  /* Latest post section */
  .latest-post .post-item {
    width: 32%;
  }

  /* Catagory Section */
  .catagory {
    width: 49%;
    margin-bottom: 315px;
  }
}

/* For screen size greater than 1024px */
@media screen and (min-width: 1024px) {
  /* Insights section */
  .insights-section {
    height: 75vh;
  }

  .insights-section-article:nth-child(1) h2 {
    font-size: 50px;
    font-weight: bold;
  }

  .insights-section-article:nth-child(2) h2,
  .insights-section-article:nth-child(3) h2 {
    font-size: 25px;
    line-height: 1.1;
  }

  .insights-gradient {
    background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png) no-repeat;
    display: block;
    z-index: 3;
    height: 100%;
    width: 100%;
  }

  .insights-logo {
    background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg) no-repeat;
    width: 45%;
    height: 90%;
    left: 30px;
    z-index: 5;
  }

  .insights-date {
    display: block;
    position: absolute;
    top: 20px;
    left: 415px;
    z-index: 5;
    font-size: 14px;
  }

  /* Latest post section */
  .latest-post .post-item {
    width: 24%;
  }

  /* Latest Funding section */
  .latest-funding-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .latest-funding-header h2 {
    margin-bottom: 0;
  }

  /* Catagory section */
}
