/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

/* Global Setting */

/* Header section */
header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo {
  background-color: #000;
  width: 105px;
  padding: 1rem;
  box-sizing: border-box;
}

.logo img {
  height: 100%;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav li {
  padding: 1rem;
  border-left: solid 1px #eee;
}

header .search-icon {
  color: #7e7e7e;
}

header .hamburger-icon {
  color: #f94640;
  width: 120%;
}

/* Main Section */

/* Banner Section */

.banner {
  height: 60px;
  background: #ffdd3c;
  display: grid;
  place-items: center;
}
